<h1><center><b> PYTHON DATA STRUCTURE FOR PRACTICE </b></center></h1>
<h2><b>Contents </b></h2>
   <div class="alert alert-block alert-info">  
   <font><ol><li>Tuple</li>
        <li>List </li>
        <li>Dictionary  </li>
        <li>Set </li>
        <li>List Comprehension</li>
        <li>Function</li>
        <li>Namespaces,Scope and Local Functions</li>
        <li>Function Objects</li>
        <li>File System </li>
        <li>Exception Handling </li>
    </ol></font> </div>

# 1.TUPLE 
<font><ul><li>A Tuple is immutable i.e something that cannot be changed or modified </li></ul></font>

In [1]:
li=[]
tup=(2,3,4,56,78)
for i in tup:
    li.append(i)
li    # converting to list

[2, 3, 4, 56, 78]

In [2]:
a,b,*rest=tup # assigning the variables a,b and *rest is used for rest

rest

[4, 56, 78]

In [9]:
li_up=[]
li=[(2,3,4),(3,5,7),(24,66,87)] # Unpacking the tuple
for i in li:                   # Nested loop
    for j in i:
        li_up.append(j)    # Converting to the list        
li_up

[2, 3, 4, 3, 5, 7, 24, 66, 87]

In [10]:
tupl=(1,2,3,4,5,6,7,7,9,1) # Method for tuple
tupl.count(1) # Counting the occurence of number

2

In [11]:
tupl[::-1]  # Reversing the tuple

(1, 9, 7, 7, 6, 5, 4, 3, 2, 1)

In [12]:
tuple = ("red", [111, 20, 4], (6, 15, 25))
tuple[1][1]                           # Accesinng the value 20

20

In [13]:
for i in tuple:
    print(i) # Unpacking the tuple

red
[111, 20, 4]
(6, 15, 25)

In [14]:
tuple1 = (11, 22)
tuple2 = (99, 88)            
tuple1,tuple2=tuple2,tuple1 # swapping the tuple
print("swapped value for tuple1:",tuple1,"\nswapped value for tuple12:",tuple2)

swapped value for tuple1: (99, 88)
swapped value for tuple12: (11, 22)

In [15]:
tuple1 = (11, 22, 33, 44, 43, 23)
tuple2=(tuple1[1],tuple1[2])  #Copying the tuple items
tuple2

(22, 33)

In [16]:
tuple1 = (11, [22, 33], 44, 55)
tuple1[1][1]=34  # Modifying the list iten in a tuple
tuple1

(11, [22, 34], 44, 55)

# 2.List
<font ><ul><li>Lists are variable-length and their contents can be modified in-place</li>
       <li>It is mutable </li></ul> </font>

In [68]:
list1=['apple','ball','cat','dog']
list2=[11,22,32,43,45,65]

In [72]:
zipped=zip(list1,list2) #Two list merge as a tuple
list(zipped)

[('apple', 11), ('ball', 22), ('cat', 32), ('dog', 43)]

In [18]:
list1.append(8) #Appending value in a list
list1

['apple', 'ball', 'cat', 'dog', 8]

In [20]:
list1.pop(4) #Deleting a value from particular index
list1

['apple', 'ball', 'cat', 'dog']

In [21]:
list1.remove('apple')  #Deleting a value from the list
list1

['ball', 'cat', 'dog']

In [22]:
list1.insert(0,'apple') #Adding a value at particular index
list1

['apple', 'ball', 'cat', 'dog']

In [23]:
list1.extend(list2) #Adding or merging two list at a time
list1

['apple', 'ball', 'cat', 'dog', 11, 22, 32, 43, 45, 65]

In [24]:
list1=list2

In [25]:
list1

[11, 22, 32, 43, 45, 65]

In [27]:
for i in list1:
    if i==22:
        continue #Skipping a particular item in list
    print(i)

11
32
43
45
65

In [28]:
for i in list2:
    if i%2==0:
        pass  #If you don't want to do any operation then we can use this keyword
    print(i)

11
22
32
43
45
65

In [29]:
for i in list2:
    if i%3==0:
        break  #Breaking the statement in looop
    print(i)

11
22
32
43

In [99]:
#Pattern printing
for i in range(1,6):
    for j in range(i):   
         print(i,end=" ") #This will print numbers with a space terminating newline
    print()          #This line of code will print a newline

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [108]:
for i in range(1,6):
    for j in range(6-i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

In [129]:
for i in range(1,6):
    for j in range(i):
        print("*",end=" ")#This line will print first half of the pattern
    print()    
for k in range(5,0,-1):  #This one will rest
    for l in range(k):
        print("*",end=" ")
    print()

*
* *
* * *
* * * *
* * * * *
* * * * *
* * * *
* * *
* *
*

In [39]:
n=int(input("Enter the number for which you want to get the table of?"))
for i in range(1,11):           #Printing any table 
    print(n," x ",i,"=",i*n)

Enter the number for which you want to get the table of?2
2  x  1 = 2
2  x  2 = 4
2  x  3 = 6
2  x  4 = 8
2  x  5 = 10
2  x  6 = 12
2  x  7 = 14
2  x  8 = 16
2  x  9 = 18
2  x  10 = 20

In [52]:
list_3=[98,23,4,55,67,8]
list_3.sort()  #This one will sort the list without creating an object
list_3

[4, 8, 23, 55, 67, 98]

In [50]:
sorted(list_3) #This one will sort the list with new list
list_3

[4, 8, 23, 55, 67, 98]

In [57]:
list(reversed(range(1,11))) #List reversed with reversed method

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [75]:
list3=[2,5,7,9,0,1,2,4] #Sliced list
list3[1:4]

[5, 7, 9]

In [76]:
list3[::-1] #Sliced in reverse order

[4, 2, 1, 0, 9, 7, 5, 2]

In [1]:
import math
raw_list=[23,float('NaN'),45,63,float('NaN'),36]
refreshed_list=[]
for i in raw_list:
    if not math.isnan(i): #for checking 'not a number' in given list
        refreshed_list.append(i)
refreshed_list

[23, 45, 63, 36]

In [10]:
#SELECTION SORT

n=int(input("Enter the range for getting array: "))
li=[]
for i in range(0,n):
    li.append(int(input("list element at index {} :".format(i)))) #Getting element in the list
    if i==n:
        break
def selectionsort(li):
    for i in range(len(li)):
        minm=i                               #assuming minmimum at index 1
        for j in range(i+1,len(li)):
            if li[j]<li[minm]:              #checking whether index 1 is less than index 0 and doing so for the rest
                minm=j
                li[minm],li[i]=li[i],li[minm]  #swapping value in python
    return li
print("Array before sorting: ",li)
selectionsort(li)
print("Array after sorting: ",li)

Enter the range for getting array:  3
list element at index 0 : 12
list element at index 1 : 32
list element at index 2 : 10

Array before sorting:  [12, 32, 10]
Array after sorting:  [10, 12, 32]

In [7]:
#LINEAR SEARCH

n=int(input("Enter the range for getting array: "))
li=[]
for i in range(0,n):
    li.append(int(input("list element index {}".format(i)))) #Getting element in the list
    if i==n:
        break
num=int(input("Enter the number you want to search for ?"))        
for i in range(len(li)):
    if li[i]==num:
        print("Number {} found! at index {}".format(num,i))
        break
    else:
        continue
        print("Number not found")

Enter the range for getting array:  3
list element index 0 10
list element index 1 12
list element index 2 23
Enter the number you want to search for ? 23

Number 23 found! at index 2

# 3.Dictionary

<font color=black ><ul> <li>It is a small sized collection of key-value pairs, where key and value are Python objects </li>
    <li>It is always inside the curly braces </li>
    <li>A dict is essentially a collection of 2-tuples, the dict function accepts a list of 2-tuples </li></ul></font>

In [59]:
dict_1={'key1':[1,2,35,32,4,5],'key2':'Tausif','key3':(2,32,4,6)}
dict_1['key1'] #Accessing the keys

[1, 2, 35, 32, 4, 5]

In [60]:
dict_1['key4']='Sachin' #Adding key in dictionary
dict_1

{'key1': [1, 2, 35, 32, 4, 5],
 'key2': 'Tausif',
 'key3': (2, 32, 4, 6),
 'key4': 'Sachin'}

In [61]:
del dict_1['key4'] #Deleting a value in dictionary
dict_1

{'key1': [1, 2, 35, 32, 4, 5], 'key2': 'Tausif', 'key3': (2, 32, 4, 6)}

In [62]:
dict_1.pop('key3') #Deleting a value in dictionary using pop method
dict_1

{'key1': [1, 2, 35, 32, 4, 5], 'key2': 'Tausif'}

In [63]:
dict_1.keys() #Accessing keys

dict_keys(['key1', 'key2'])

In [64]:
dict_1.values() #Accessing values

dict_values([[1, 2, 35, 32, 4, 5], 'Tausif'])

In [65]:
list(dict_1.values()) #Accessing values as a list

[[1, 2, 35, 32, 4, 5], 'Tausif']

In [66]:
dict_2={'key3':'I am the best','key4':[2,43,55,65]}
dict_1.update(dict_2)  #Merging two dictionary at a time

In [67]:
dict_1

{'key1': [1, 2, 35, 32, 4, 5],
 'key2': 'Tausif',
 'key3': 'I am the best',
 'key4': [2, 43, 55, 65]}

In [77]:
dict_3=dict(zip(range(6),reversed(range(6)))) #Dictionary is collection of two tuple and we know that zip() accepts two tuples
dict_3

{0: 5, 1: 4, 2: 3, 3: 2, 4: 1, 5: 0}

In [78]:
list_d1=['A','B','C','D']               #Declaring list 1
list_d2=[10,12,43,44]                   #Declaring list 2
dict_3={}                               #Creating dictionary
for key,values in zip(list_d1,list_d2):  #Zipping value as range in for loop for dictionary
    dict_3[key]=values                   #Assigning value in dictionary
dict_3                                  #Printing the value of dictionary

{'A': 10, 'B': 12, 'C': 43, 'D': 44}

In [10]:
d1={'k1':'a','k2':'b'}  #Merging multiple dictionaries in one
d2={'k3':'c','k4':'d'}
d3={'k5':'e','k6':'f'}
d4={}
for d in (d1,d2,d3):
    d4.update(d) #using for loop to update so as it will faster your merging process  
print(d4)

{'k1': 'a', 'k2': 'b', 'k3': 'c', 'k4': 'd', 'k5': 'e', 'k6': 'f'}

In [87]:
word = ['apple', 'ball', 'cat', 'dog', 'egg']                          
from collections import defaultdict 
init_ltr = defaultdict(list)      #This built-in method will fill the missinng value
for w in words:
    init_ltr[w[0]].append(w)  #If the dictionary has been missing with key-value then by default we can assign
init_ltr

defaultdict(list,
            {'a': ['apple'],
             'b': ['ball'],
             'c': ['cat'],
             'd': ['dog'],
             'e': ['egg']})

In [88]:
#Key value of dictionary shoud always be immutable like,string,tuple,int but not list
hash("sxbscdwc")  #This method will validate whether a dictionary key is valid or not

-1684544854700860082

# 4.SET
<font color=black >
<ul> <li>A set is an unordered collection of a unique element </li>
     <li>It is also put inside the curly braces like dictionary </li>
</ul> </font>

In [95]:
a={1,2,3,4,5,7}
b={4,5,6,7,7,8}
a.union(b)   #This will produce entire element without duplicate

{1, 2, 3, 4, 5, 6, 7, 8}

In [96]:
a.intersection(b)  #This will produce elements that matched in both set

{4, 5, 7}

In [ ]:
#Use these methods to find out results
a.add(x)                         #Add element
a.clear()                        #Clear all the element
a.remove(x)                      #remove element x
a.pop()                          #Pop arbitary element
a.union(b)                       #create a set that have elements of two set
a.update(b)                      #set the content of a to union of b
a.intersection(b)                #Common in both
a.intersection_update(b)
a.difference(b) 
a.difference_update(b) 
a.symmetric_difference(b) 
a.symmetric_difference_update(b)
a.issubset(b) 
a.issuperset(b) 
a.isdisjoint(b)

# 5.List Comprehensions

In [117]:
list_4=['abc','bcd','mannn','dddwddwd']
lis_c=[x for x in list_4 if len(x)>3]  #String length greater than 3
lis_c

['mannn', 'dddwddwd']

In [120]:
lis_c2=[i for i in range(10) if i%2==0] #List element which is even numbers only
lis_c2

[0, 2, 4, 6, 8]

In [124]:
list_5=[(1,2,3),(3,4,5),(6,7,8),(0,9,8)]
lis_c3=[j for i in list_5 for j in i] #Nested for loop in comprehension
lis_c3

[1, 2, 3, 3, 4, 5, 6, 7, 8, 0, 9, 8]

In [125]:
sorted(lis_c3)

[0, 1, 2, 3, 3, 4, 5, 6, 7, 8, 8, 9]

# 6.Functions
  <font color=black >
<ul> <li>If you need or anticipating any code to repeat multiple times, instead of writing the same code for over again we can call the funtion</li> </ul></font>

In [133]:
def add(a,b):       #Def keybword is used for defining a function 
    return a+b 
add(5,10)

15

In [8]:
#Factorial of a number

n=int(input('Enter the number for getting factorial: '))
def fact(n):
    fact=1                   #Initializing factorial
    for i in range(1,n+1):   #Giving greater than number bcoz we need to find upto that number
        fact=fact*i          #Multiplying
    return fact
fact_obj=fact(n)             #Storing at an object
print('Factorial of {} is {}'.format(n,fact_obj))   #Printing the values with format stringer

Enter the number for getting factorial: 6
Factorial of 6 is 720

## 7.Namespaces, Scope, and Local Functions

In [139]:
def func():
    global lis
    lis=[]
    for i in range(6):
        lis.append(i)
lis

[]

# 8.Functions are objects

In [4]:
import glob
glob.glob('*.ipynb')

['Chapter 2.Data Structure.ipynb']

In [11]:
import random as r
taudata=['tausif','mahatab','jaadu']
r.choice(taudata)

'tausif'

In [15]:
from datetime import date
now=date.today()
now
birth=date(1993,3,10)
day=(now-birth)
day

datetime.timedelta(days=27, seconds=46632, microseconds=328767)

## 9.FILE SYSTEM IN PYTHON

In [7]:
%pwd

'/Users/quantum/Documents/Oreilly Python Data Wrangling/Chapter-2 Data Structure'

In [8]:
%ls

Chapter 2.Data Structure.ipynb

In [9]:
%ls

Chapter 2.Data Structure.ipynb  Spindump.txt

In [20]:
var='  Tausif'
var.lstrip() #deleting whitespaces from left side rstip will do vice-versa

'Tausif'

In [32]:
file='Spindump.txt'
with open(file) as f:
    parag=[x for x in f]
    print(parag)

[]

In [29]:
file=open('Spindump.txt','w')
file
file.close()

In [28]:
%ls

Chapter 2.Data Structure.ipynb  Spindump.txt

## 10.EXCEPTION HANDLING